<include file="Public:header" />

<!--main start-->
<div class="main_bg cl">
	<div class="content">
		<div class="type fl">
			<img src="__PUBLIC__/style/images/main02.jpg" class="fl">
			<p class="fl">
            
                            <volist name='pcate' id='vo'>
                            <a href="{:U(Article/index,array('id'=>$vo['id']))}">·{$vo.cate_name}</a>
							</volist>
                           </p>
		</div>
		<div class="path fr"><img src="style/images/main03.jpg">您的当前位置：<a href="index.php">首页</a> > {$cate['cate_name']}</div>
		<div class="m_pro cl">
			<ul>
									<volist name='artlist' id='art'>
                				   <li><a href="{:U(Article/show,array('id'=>$art['a_id']))}"><img src="/qiye/Uploads/{$art.photo}" width="380" height="292"><p>{$detail.a_title}</p><img src="__PUBLIC__/style/images/hot.png" class="hot"></a></li>
								   </volist>
							</ul>
			<div class="cl"></div>
		</div>
		<div class="page cl tc">{$page}</div>
	</div>
</div>
<!--main end-->

<include file="Public:footer" />
